language: node_js
node_js:
  - 12

services:
  - docker

install:
  - echo "probando"
  
before_script: []

script:
  - docker --version
  - docker build -t udagram-api-feed ./udagram-api-feed
  - docker build -t udagram-api-user ./udagram-api-user
  - docker build -t udagram-frontend ./udagram-frontend
  - docker build -t reverseproxy ./udagram-reverseproxy

  # Tagging
  - docker tag udagram-api-feed brian87/udagram-api-feed:v1
  - docker tag udagram-api-user brian87/udagram-api-user:v1
  - docker tag udagram-frontend brian87/udagram-frontend:v1
  - docker tag reverseproxy brian87/reverseproxy:v1


after_success:

  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker push brian87/udagram-api-feed:v1
  - docker push brian87/udagram-api-user:v1
  - docker push brian87/udagram-frontend:v1
  - docker push brian87/reverseproxy:v1
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete